.main_text{
    font-size: 25px;
    font-weight: 600;
    margin-right: 1040px;

}

.products{
    display: flex;
    margin-top: 30px;
    
}

.card{
    width: 230px;
    height: 100px;
    background-color: rgb(216, 216, 216);
    margin-left: 30px;
}