.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

.modal_content {
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    height: 320px;
    width: 350px;
    margin-left: 920px;
    transition: 0.5s ease-in-out;
    margin: auto;
    margin-top:130px;

}

.main_text{
    font-weight: 500;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.title{
    font-size: 15px;
    color: rgb(116, 116, 116);
    
}

.text_container{
    
}

.input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 136, 0);
    outline: rgb(255, 136, 0);
}

.number{
    color:rgb(62, 61, 61);
}

.btn {
    width: 300px;
    height: 40px;
    background-color: rgb(255, 136, 0);
    border-radius: 20px;
    color: white;
    border: 0;
    margin-top:30px;
}