.pizza_block {
    width: 240px;
    height: 440px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 50px;
    position: relative;
    padding-bottom: 15px;

}

.pizza_img {
    width: 230px;
    height: 230px;
}

.title{
    font-weight: 500;
    margin-right: 80px;
}

.info{
    font-size: 15px;
    font-weight: 400;
    margin-right: 70px;
    color: rgb(99, 97, 97);
}

.footer{
    position: absolute;
    bottom: 40px;
    
}

.footer_btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 115, 0);
    margin-left: 10px;
    border:0;
    color: white;
    cursor: pointer;

}


.title{
    margin:0 auto;
    margin-bottom: 15px;
}

.dashboard_btn_change{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 115, 0);
    margin-left: 10px;
    border:0;
    color: white;
    cursor: pointer;
}

.dashboard_btn_delete{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 115, 0);
    margin-left: 10px;
    border:0;
    color: white;
    cursor: pointer;
}

.dashboard_btns{
    margin-top: 10px;

}

.dashboard_btn_delete:hover{
    background-color: rgb(255, 64, 0);
}

.dashboard_btn_change:hover{
    background-color: rgb(255, 160, 0);
}